@import "../../theme";

.todo {
  width: 36em;
  height: 24px;
  margin: auto;
  color: $font-base;
  font-size: 16px;
  pointer-events: none;

  &.checked {
    text-decoration: line-through solid $font-base;
    font-weight: lighter;
  }

  &.focused {
    background-color: $emphasis;
  }

  &.selected {
    color: $font-emphasis;
    font-weight: bolder;
  }

  > p {
    margin: 0;
  }

  > input {
    width: 100%;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    outline: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}
